body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0f0f0;
}

section {
    border-style: double;
    border-width: 10px;
    background-color: #f0f0f0;
    border-color: #000080;
    color: #121212;
}

.left {
    border-style: double;
    border-width: 10px;
    background-color: #f0f0f0;
    border-color: #000080;
    color: #121212;
}

.right {
    border-style: double;
    border-width: 10px;
    background-color: #f0f0f0;
    border-color: #000080;
    color: #121212;
}


.container {
    max-width: 48rem;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #000080;
    color: #f0f0f0;
}

.record_header {
    display: flex;
}

nav {
    max-width: 20rem;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
}

@media screen and (max-width: 768px) {
    .record_header {
        flex-direction: column;
    }
}